@import "tailwindcss";

/* * {
  transition: transform 0.12s ease-out;
} */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* *[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
} */
